<div class=row>
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading relative">
                <h3 class="panel-title">Detail</h3>
                <button class="btn btn-link btn-right close" (click)="deleteHero()"><span
                        class="glyphicon glyphicon-trash"></span></button>
            </div>
            <div class="panel-body relative">
                <h4 *ngIf="hero && !editable">Name: {{hero.name}}</h4>
                <div class="col-xs-10">
                    <input type=text class="form-control col-xs-5" [(ngModel)]="hero.name" *ngIf="editable">
                </div>
                <button class="btn btn-link pull-right btn-right close" (click)="editHero()" *ngIf="!editable">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-link pull-right btn-right close btn-ok" (click)="editHero()" *ngIf="editable">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
            </div>
            <div class="panel-footer"><a [routerLink]="['/simpleapp']" class="btn btn-default">Back</a></div>
        </div>
    </div>
</div>
