<div class=clearfix>
    <div class="col-sm-4">
        <h3>Simple Example of <select name="type" [(ngModel)]="selectType" (change)="changeSelectedType($event)">
            <option value="one" selected>one</option>
            <option value="all">all</option>
        </select>
            <select name="method" [(ngModel)]="selectMethod">
                <option *ngFor="let method of methods" value="{{method.name}}" [hidden]="method.disabled">
                    {{method.name}}
                </option>
            </select> Request
        </h3>
        <form #form="ngForm" (submit)="sendRequest(form)">

            <label for="endpoint">http://api.2muchcoffee.com/v1/</label>
            <div class="label-top form-group" [ngClass]="{'has-error': !endpoint.checkValidity()}">
                <label>endpoint</label>
                <input name="endpoint" type=text id="endpoint" #endpoint class=form-control
                       [(ngModel)]="request.endpoint" required>
            </div>
            <label for="id" [hidden]="selectType=='all'">/</label>
            <div class="label-top form-group" [hidden]="selectType=='all'">
                <label>id</label>
                <input type=text name="id" id="id" class=form-control
                       [(ngModel)]="request.id">
            </div>


            <label for="id" *ngIf="selectType=='all'&&selectMethod=='get'">/</label>
            <div class=label-top *ngIf="selectType=='all'&&selectMethod=='get'"><label>id</label><input type=text #idget
                                                                                                        required
                                                                                                        name="idget"
                                                                                                        id="idget"
                                                                                                        [(ngModel)]="request.id">
            </div>

            <label for="subelement"
                   [hidden]="selectType=='one'&&(selectMethod=='getList'||selectMethod=='post')?false:true">/</label>
            <div class=label-top
                 [hidden]="selectType=='one'&&(selectMethod=='getList'||selectMethod=='post')?false:true"><label>Sub
                Element</label><input name="subelement" id="subelement" [(ngModel)]="request.subelement" class=form-control></div>


            <div class=clearfix [hidden]="selectMethod=='post'?false:true">
                <div class=col2>
                    <label for="elementToPostName">Element To Post Name</label>
                    <input name="elementToPostName" id="elementToPostName" type=text [(ngModel)]="elementToPost.name" class=form-control>
                </div>
                <div class=col2>
                    <label for="elementToPostValue">Element To Post Value</label>
                    <input name="elementToPostValue" id="elementToPostValue" type=text
                           [(ngModel)]="elementToPost.value" class=form-control>
                </div>
            </div>
        </form>
        <div>
            <div *ngFor="let query of queryArr; let index=index" class=clearfix>
                <div class=col-sm-6>
                    <label for="queryParamName">Parameter Name</label>
                    <input name="queryParamName" id="queryParamName" [(ngModel)]="query.name" type=text
                           (change)="makeRequest(form)" class=form-control>
                </div>
                <div class=col-sm-6>
                    <label for="queryParamValue">Parameter Value</label>
                    <input name="queryParamValue" id="queryParamValue" [(ngModel)]="query.value" type=text
                           (change)="makeRequest(form)" class=form-control>
                </div>
            </div>
            <input type=button class=button (click)="addQueryParams(); $event.preventDefault()"
                   value="Add Query Params">
        </div>
        <div>
            <div *ngFor="let header of headersArr; let index=index" class=clearfix>
                <div class=col-sm-6>
                    <label for="headerName">Header Name</label>
                    <input name="headerName" id="headerName" [(ngModel)]="header.name" type=text
                           (change)="makeRequest(form)" class=form-control>
                </div>
                <div class=col-sm-6>
                    <label for="headerValue">Header Value</label>
                    <input name="headerValue" id="headerValue" [(ngModel)]="header.value" type=text
                           (change)="makeRequest(form)" class=form-control>
                </div>
            </div>
            <input type=button class=button (click)="addHeaders(); $event.preventDefault()" value="Add Headers">
        </div>
        <div>
            <button (click)="Submit(form, endpoint)" class="large btn btn-success">Send Request</button>
        </div>

        <h3>Sample of function</h3>
        <pre rel="javascript" [hidden]="selectType=='all'"><code>
restangular.{{selectType}}({{request.endpoint}},{{request.id}}).{{selectMethod}}(<span
                [hidden]="selectMethod!='getList' && selectMethod!='post'">{{request.subelement}},</span><span
                [hidden]="selectMethod!='post'">{{elementToPost.name?"{\"" + (elementToPost.name || "") + "\":\"" + (elementToPost.value || "") + "\"}":"{}"}},</span>{{request.queryParams| json}},{{request.headers | json}})</code>
        </pre>
        <pre rel="javascript" [hidden]="selectType=='one'"><code>
restangular.{{selectType}}({{request.endpoint}}).{{selectMethod}}(<span [hidden]="selectMethod!='post'">{{elementToPost | json}},</span>{{request.queryParams| json}},{{request.headers | json}})</code>
    </pre>
    </div>

    <div class="col-sm-4">
        <h3>Request</h3>
        <pre rel="javascript"><code>{{requestToShow$ | async | json}}</code></pre>
    </div>
    <div class="col-sm-4">
        <h3>Response</h3>
        <pre rel="javascript"><code>{{responseToShow$ | async | json}}</code></pre>
    </div>
</div>

