.code-wrapper {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

select {
    border-radius: 2px;
}

input[type="text"] {
    font-size: 16px;
    line-height: 22px;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

.col2 input, .col2 label {
    display:block;
}

.part-of-code {
    padding-left: 20px;
}

.label-top {
    display: inline-block;
}

.label-top[hidden] {
    display: none;
}

*[hidden] {
    display: none;
}

.wrong {
    border-color: #880000;
}

.label-top input,.label-top label {
    width: 120px;
    display: block;
}

.label-top label {
    text-align: center;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

.button {
    display: block;
    padding: 3px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px;
}
.large {
    font-size: 18px;
}
.col2 {
    width: 50%;
    float: left;
}

.col {
    width: 33%;
    float: left;
    padding: 10px;
}