<div class=clearfix>
    <div class="col">
        <h3>Simple Example of <select name="type" [(ngModel)]="selectType" (change)="changeSelectedType($event)">
            <option value="one" selected>One</option>
            <option value="all">All</option>
        </select>
            <select name="method" [(ngModel)]="selectMethod" >
                <option *ngFor="let method of methods" value="{{method.name}}" [hidden]="method.disabled" >{{method.name}}</option>
            </select> Request</h3>
        <form #form="ngForm" (submit)="sendRequest(form)">

            <label for="endpoint">http://api.2muchcoffee.com/v1/</label>
            <div class=label-top><label>endpoint</label><input name="endpoint" id="endpoint"
                                                               [(ngModel)]="request.endpoint"></div>
            <label for="id" [hidden]="selectType=='all'">/</label>
            <div class=label-top [hidden]="selectType=='all'"><label>id</label><input name="id" id="id" [(ngModel)]="request.id" ></div>


            <label for="id" [hidden]="selectType=='all'&&selectMethod=='get'?false:true">/</label>
            <div class=label-top [hidden]="selectType=='all'&&selectMethod=='get'?false:true"><label>id</label><input name="id" id="idget" [(ngModel)]="request.id" ></div>

            <label for="subelement" [hidden]="selectType=='one'&&(selectMethod=='getList'||selectMethod=='post')?false:true">/</label>
            <div class=label-top [hidden]="selectType=='one'&&(selectMethod=='getList'||selectMethod=='post')?false:true"><label>Sub Element</label><input name="subelement" id="subelement" [(ngModel)]="request.subelement" ></div>


            <div class=clearfix [hidden]="selectMethod=='post'?false:true">
                <div class=col2>
                    <label for="elementToPostName">Element To Post Name</label>
                    <input name="elementToPostName" id="elementToPostName" [(ngModel)]="elementToPost.name">
                </div>
                <div class=col2>
                    <label for="elementToPostValue">Element To Post Value</label>
                    <input name="elementToPostValue" id="elementToPostValue" [(ngModel)]="elementToPost.value">
                </div>
            </div>
        </form>
        <div>
            <div *ngFor="let query of queryArr; let index=index" class=clearfix>
                <div class=col2>
                    <label for="queryParamName">Parameter Name</label>
                    <input name="queryParamName" id="queryParamName" [(ngModel)]="query.name"
                           (change)="makeRequest(form)">
                </div>
                <div class=col2>
                    <label for="queryParamValue">Parameter Value</label>
                    <input name="queryParamValue" id="queryParamValue" [(ngModel)]="query.value"
                           (change)="makeRequest(form)">
                </div>
            </div>
            <input type=button class=button (click)="addQueryParams(); $event.preventDefault()"
                   value="Add Query Params">
        </div>
        <div>
            <div *ngFor="let header of headersArr; let index=index" class=clearfix>
                <div class=col2>
                    <label for="headerName">Header Name</label>
                    <input name="headerName" id="headerName" [(ngModel)]="header.name" (change)="makeRequest(form)">
                </div>
                <div class=col2>
                    <label for="headerValue">Header Value</label>
                    <input name="headerValue" id="headerValue" [(ngModel)]="header.value" (change)="makeRequest(form)">
                </div>
            </div>
            <input type=button class=button (click)="addHeaders(); $event.preventDefault()" value="Add Headers">
        </div>
        <div>
            <button (click)="Submit(form)" class="button large">Send Request</button>
        </div>

        <h3>Sample of function</h3>
        <pre rel="javascript" [hidden]="selectType=='all'"><code>
restangular.{{selectType}}({{request.endpoint}},{{request.id}}).{{selectMethod}}(<span [hidden]="selectMethod!='getList' && selectMethod!='post'">{{request.subelement}},</span><span [hidden]="selectMethod!='post'">{{elementToPost | json}},</span>{{request.queryParams| json}},{{request.headers | json}})</code>
        </pre>
<pre rel="javascript"  [hidden]="selectType=='one'"><code>
restangular.{{selectType}}({{request.endpoint}}).{{selectMethod}}(<span [hidden]="selectMethod!='post'">{{elementToPost | json}},</span>{{request.queryParams| json}},{{request.headers | json}})</code>
    </pre>
    </div>

    <div class="col">
        <h3>Request</h3>
        <pre rel="javascript"><code>{{requestToShow$ | async | json}}</code></pre>
    </div>
    <div class="col">
        <h3>Response</h3>
        <pre rel="javascript"><code>{{responseToShow$ | async | json}}</code></pre>
    </div>
</div>